@media screen and (min-width: 768px) {
    #des {
        display: block;
    }

    .footer1 h1 {
        text-align: center;
        margin-top: 5%;
        font-size: 35px;
        font-family: 'Varela Round', sans-serif;
        color: rgb(245, 14, 37);
        text-shadow: 2px 2px rgba(0, 128, 128, 0.198);
    }

    .footer1 img {
        width: 60%;
        margin-left: 15%;
        margin-top: 5%;
        box-shadow: 5px 5px 5px rgba(34, 34, 88, 0.493);

    }

    .desktop {
        background-attachment: fixed;
        /* background-color:  rgba(14, 80, 80, 0.894); */
        /* background-image: url('images/blue-bg-low.png'); */
        background-image: url('images/red-bg-low.png');


        display: block;
        height: 410px;
        margin-top: 10%;
    }

    .logo_img {
        border: 3px solid whitesmoke;
        border-radius: 20px;
        background-color: rgba(11, 82, 100, 0.274);
        width: 60%;
        margin-left: 40%;
        margin-top: 45%;
    }

    .footer_ul {
        margin-top: 60%;
        line-height: 2.5em;
        margin-right: 60%;
    }

    .footer_ul li {
        list-style-type: none;
        color: white;


    }

    .footer_ul li a {
        font-size: 16px;
        color: white;
        margin-right: 20%;
        font-family: 'Source Sans Pro', sans-serif;
        text-decoration: none;
    }

    .footer_ul li a:hover {
        color: yellowgreen;
        text-decoration: none;
    }

    .form_footer {
        margin-top: 35%;
        height: 40px;
        width: 90%;
        margin-left: 25%;
        border-radius: 10px;
        border-color: rgba(0, 128, 128, 0.011);
    }

    .submit {

        font-size: 35px;
        font-family: 'Varela Round', sans-serif;


    }

    .submit a {
        margin-top: 10.5%;
        left: 66%;
        position: absolute;
        color: rgb(239, 225, 32);

    }

    .submit a:hover {
        color: yellowgreen;

    }

    .footer_p {
        margin-top: -140px;
        color: rgba(255, 255, 255, 0.873);
        font-size: 10px;
        margin-left: 50%;

        text-align: center;
    }

    .footer_img {

        padding: 3px;

    }

    .images {
        margin-left: 2%;
    }

    .images img {

        width: 12%;

    }

    .mobile {
        visibility: hidden;
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .desktop {
        visibility: hidden;
        display: none;
    }

    .mobile {
        background-attachment: fixed;
        /* background-color:  rgba(14, 80, 80, 0.894); */
        background-image: url('images/red-bg-low.png');

        display: block;
        height: 100%;
        margin-top: 10%;
        width: 100%;


    }

    .logo_img {
        border: 3px solid whitesmoke;
        border-radius: 20px;
        background-color: rgba(11, 82, 100, 0.274);
        width: 60%;
        margin-left: 10%;
        margin-top: 5%;
    }

    .footer_ul {
        margin-top: 2%;
        margin: 0;
        padding: 0;

    }

    .footer_ul li {

        font-size: 25px;
        list-style-type: none;
        color: white;

        display: inline-block;
        padding: 5px;
        margin: 0;

        justify-content: space-between;


    }

    .footer_ul li:first-child {
        margin-left: 8%;
    }

    .form_footer {
        margin-top: 20%;
        height: 40px;
        width: 80%;
        margin-left: 10%;

        border-radius: 10px;
        border-color: rgba(0, 128, 128, 0.055);
    }

    .footer_ul li a {
        font-size: 15px;
        color: white;

        font-family: 'Source Sans Pro', sans-serif;


        text-decoration: none;
    }

    .footer_ul li a:hover {
        color: orange;
        text-decoration: none;
    }

    .footer_p {

        color: rgba(255, 255, 255, 0.927);
        font-size: 10px;
        margin-top: 1%;
        margin-left: 10%;
        
    }

    .footer_img img {


        margin-top: 4%;
        width: 15%;
        display: inline-block;
        margin-left: 10%;
    }

    .submit {
        margin-top: 2%;
        font-size: 40px;
        font-family: 'Varela Round', sans-serif;
        text-decoration: underline;
        margin-left: 10%;

    }

    .submit a {
        color: white;
        text-decoration: underline;
        margin-left: 2%;

        margin-top: 10.5%;
        color: rgb(239, 225, 32);

    }

    .submit a:hover {
        color: yellowgreen;

    }




    .footer1 h1 {
        text-align: center;
        margin-top: 25%;
        font-size: 30px;
        font-family: 'Varela Round', sans-serif;
        color: rgb(245, 14, 37);
        text-shadow: 2px 2px rgba(0, 128, 128, 0.198);
    }

    .footer1 img {
        width: 60%;
        margin-left: 20%;

        margin-top: 5%;

        margin-bottom: 5%;
        box-shadow: 5px 5px 5px rgba(34, 34, 88, 0.493);

    }

}